nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid white;
    padding: 0.5rem;
    transition: all 0.3s ease;
    border-radius: 15%;
    &:hover {
      background: white;
      border-color: white;
      color: #498dbb;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
